<nav>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
    <li><a href="{{site.baseurl}}/blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Blog</a></li>
    <li><a href="{{site.baseurl}}/schedule.html" class="{% if page.url == '/schedule.html' %}current{% endif %}">Schedule</a></li>
    <li><a href="{{site.baseurl}}/finalproject/" class="{% if page.url contains '/finalproject' %}current{% endif %}">Final Project</a></li>

  </ul>
</nav>
